* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(237, 237, 237);
    font-family: 'Roboto',sans-serif;
}

.google-head {
    font-family: 'Poppins', sans-serif;
}

body {
    font-size:0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    gap: 14px;
}

.nav-cont{
    display: flex;
    align-items: center;
    gap: 14px;
}

.text-link {
    color: inherit;
    text-decoration: none;
}
.text-link:hover {
    text-decoration: underline;
}

.img-link {
    font-size: 1rem;
    color: inherit;
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
}

.img-link:hover {
    background: rgb(252, 252, 252);
}

.image-button{
    border: none;
    background: transparent;
}

.image-button img {
    width: 35px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}